/* Define Color Variables */
:root {
  --primary-color: #8000ff;
  --secondary-color: #0cf015;
  --accent-color: #db61c8;
  --text-color: #ffffff;
  --muted-text-color: #bcb1b1;
}

/* General Styles */
body,
html {
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  font-family: 'Inter', sans-serif;
  height: 100%; /* Ensure body and html take full height */
}

/* Background Styles */
.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

.bg::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  background-attachment: fixed; /* Ensures background is fixed in place */
  background-image: url('grid.svg'), linear-gradient(45deg, rgb(36, 36, 38) 63%, rgb(33, 33, 36) 71%);
  background-size: cover, auto; /* Ensure background covers the entire viewport */
  background-position: center center, 0% 0%;
  background-repeat: no-repeat, repeat;
}

/* Container Styles */
.container {
  z-index: 1; /* Stays above the background */
  padding: 0rem;
  margin-top: 5vh;
  max-width: 100%;
  color: var(--text-color);
  height: auto;
}

/* Typography Styles */
h1,
h2 {
  color: var(--text-color);
  text-align: center;
}

p {
  color: var(--secondary-color);
}

.sub-header-text {
  font-size: 1.5em;
  text-align: center;
}

a {
  color: var(--accent-color);
  transition: color 0.3s ease-in-out; /* Smooth color transition */
}

a:hover {
  color: var(--secondary-color);
}

.fas {
  font-size: 1.5em;
}

/* Card Styles */
.card {
  background-color: rgba(45, 46, 49, 0.5);
  overflow: hidden;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px); /* Add backdrop filter for blur effect */
  border-radius: 0;
  width: 100vw;
}

.card-line {
  border: none; /* Remove default border */
  height: 0.3rem; /* Set thickness of the line */
  background: linear-gradient(90deg, var(--primary-color), var(--secondary-color)); /* Apply gradient from left to right */
}

/* Line Animation */
.line {
  width: 100vw;
  right: 1em;
  position: relative;
  border: none; /* Remove default border */
  height: 0.3rem; /* Set thickness of the line */
  background: linear-gradient(90deg, var(--primary-color), var(--secondary-color)); /* Apply gradient */
  background-size: 200% 100%; /* Double the width of the gradient for smooth animation */
  animation: moveGradient 4s linear infinite; /* Animate gradient */
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Avatar Styles */
.avatar {
  padding-top: 6px;
  border-radius: 50%;
  width: 20em;
  height: auto; /* Maintain aspect ratio */
  border: 2px solid var(--secondary-color);
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

img {
  border-radius: 50%;
  width: 100%; /* Full width on mobile */
  height: auto; /* Maintain aspect ratio */
  align-items: center;
}

/* Intro Icon Wrapper */
.intro-icon-wrapper {
  max-width: 11em;
}

@media screen and (max-width: 768px) {
  .intro-icon-wrapper {
    margin: 0 auto;
  }
  
}

/* Text Transition */
#text-transition {
  transition: opacity 0.5s ease-in-out; /* Smooth ease transition */
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

/* Progress Bar Styles */
.p-4 ul {
  list-style-type: none;
  padding: 0;
}

.portfolio-progress ul {
  list-style-type: none; /* Remove bullets */
  padding: 0;
  margin: 0;
}

.portfolio-progress li {
  display: flex; /* Flex layout for horizontal alignment */
  align-items: center; /* Center-align text and bar vertically */
  margin-bottom: 1rem;
  position: relative;
}

.portfolio-progress li span {
  font-weight: bold;
  color: var(--muted-text-color);
  margin-right: 1rem; /* Space between text and progress bar */
}

.portfolio-progress li::after {
  content: '';
  flex-grow: 1; /* Fill remaining space */
  height: 4px; /* Match the height of .card-line */
  background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
  border-radius: 2px; /* Match the border-radius of .card-line */
  overflow: hidden;
  position: relative;
  display: block;
  margin-left: 1rem; /* Space between text and progress bar */
  width: 0; /* Initial width */
  transition: width 0.5s ease-in-out; /* Smooth fill animation */
  z-index: 1;
}

/* Adjust progress text above the bar */
.portfolio-progress li::before {
  position: absolute;
  top: -1.5rem; /* Position the percentage above the bar */
  right: 0; /* Align to the right end of the bar */
  font-weight: bold;
  color: var(--text-color);
}

.portfolio-progress li[data-progress='100%']::after {
  width: 100%;
}

.portfolio-progress li[data-progress='80%']::after {
  width: 80%;
}

.portfolio-progress li[data-progress='60%']::after {
  width: 60%;
}

/* Footer Styles */
.footer {
  color: var(--text-color);
  text-align: center;
  padding: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
}

.badge {
  background-color: var(--secondary-color);
  color: var(--accent-color);
}

.lang-span {
  min-width: 8em;
}

.button-primary {
  background: var(--accent-color);
  border-radius: 999px;
  box-shadow: var(--accent-color) 0 10px 20px -10px;
  box-sizing: border-box;
  color: var(--text-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%; /* Full width on mobile */
  word-break: break-word;
  border: 0;
  text-decoration: none;
  transition: background-color 0.3s ease-in, box-shadow 0.3s ease-in; /* Add transition for smooth animation */
}

.button-primary:hover {
  background: var(--secondary-color);
  box-shadow: var(--secondary-color) 0 10px 20px -10px;
  color: var(--text-color);
}

.fab {
  font-size: 3em;
}

/* Media Queries for Larger Screens */
@media (min-width: 768px) {
  h1,
  h2,
  .sub-header-text {
    text-align: left;
  }
  .container {
    margin-top: 15vh;
    max-width: 50rem;
    height: 80vh;
  }

  .card {
    width: auto;
  }

  .avatar {
    width: 15em;
    height: 15em;
  }

  img {
    width: 14em;
    height: 14em;
  }

  .intro-icon-wrapper {
    max-width: 7em;
  }

  .button-primary {
    width: fit-content;
  }

  .footer {
    width: 60%;
  }
}

.cookie-consent {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  padding: 1rem;
  display: none; /* Hidden by default */
  z-index: 1000;
}

.cookie-consent p {
  margin: 0;
  padding: 0;
  display: inline;
}

.cookie-consent a {
  color: var(--secondary-color);
  text-decoration: underline;
}

.cookie-consent .button-primary {
  margin-left: 1rem;
  background: var(--accent-color);
  border-radius: 999px;
  box-shadow: var(--accent-color) 0 10px 20px -10px;
  box-sizing: border-box;
  color: var(--text-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  text-decoration: none;
  transition: background-color 0.3s ease-in, box-shadow 0.3s ease-in; /* Add transition for smooth animation */
}

.cookie-consent .button-primary:hover {
  background: var(--secondary-color);
  box-shadow: var(--secondary-color) 0 10px 20px -10px;
  color: var(--text-color);
}
